!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Just Fucking Google It Information Page
    %meta{:content => "application/xhtml+xml; charset=UTF-8", "http-equiv" => "Content-Type", "xml:lang" => "en"}/
  %body
    %h1 Random Information About www.justfuckinggoogleit.com
    %ul
      %li
        There are a total of four names for this site:
        www.justfuckinggoogleit.com, www.fuckinggoogleit.com, and the two
        variants without www.  Use whichever you like.
      %li There is an easter egg on the main page.
      %li
        Using http://www.justfuckinggoogleit.com/search.pl?query=foo+bar will
        show this page and then redirect users to the Google page for searching
        on "foo bar", as will many other variants on that idea.
      %li
        I'll be putting in a counter (sort of) soon; the popularity of this
        site just blows my mind.
