!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
 %head
  %title
   Just Fucking Google It
  %LINK{:rel => "stylesheet", :type => "text/css", :href => "css/styles.css"}
  %LINK{:rel => "stylesheet", :type => "text/css", :href => "css/styles.min.css"}
  %meta{:content => "application/xhtml+xml; charset=UTF-8", "http-equiv" => "Content-Type", "xml:lang" => "en"}
  %meta{:content => "#{time_delay};url=http://www.google.com/search?q=#{query}", "http-equiv" => "Refresh"}
  
 :css
  body {
       text-align: center;
       margin-left: 25%;
       margin-right: 25%;
   }
 %body
  %h1
   %a{:href => "http://www.google.com"} Google Is Your Friend
 
  %h2
   All Smart People Use 
   %a{:href => "http://www.google.com"} Google
      
  %h3 It Appears That You Are Not One Of Them
  
  %p
   %img{:alt => "Bart at a blackboard with a pro-google message", :src => "/images/bart.gif"}
  
  %p
   Someone thinks you are an idiot because you were too stupid to check
   %a{:href => "http://www.google.com"} Google 
   before asking a question about
   %h2
    #{query}. 
   They gave you a link to this site as a joke.  The fact that you followed it pretty much proves the point.
      
  %p
   Hope that helps.
  %p
   Have a nice day.
 
  :javascript
   google_ad_client = "ca-pub-5834014132134539";
   /* JFGI */
   google_ad_slot = "6760406514";
   google_ad_width = 336;
   google_ad_height = 280;
  %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
     
  %p
   %strong
    WARNING: SITE ABUSES
       
  %p   
   It has come to my attention that some sites are redirecting to this one when their users were not expecting it.  I have <em>no</em> control over this. The only sites I have control over that have anything to do with this site are justfuckinggoogleit.com, www.justfuckinggoogleit.com, fuckinggoogleit.com, and www.fuckinggoogleit.com.  If any other site is sending you here, it is <em>their</em> problem, not mine.  They may have been hacked, or they may be playing a joke.  I don't know, and I can't do anything about it.  Please stop sending me e-mail about this issue.
  
  %p
   Please direct abuse reports or server problems to 
   %a{:href => "mailto:webmaster@justfuckinggoogleit.com"} webmaster@justfuckinggoogleit.com
   
  %p
   %a{:href => "http://www.google.com"} Google does not endorse this site, and is not associated with it in any way whatsoever.
   
  %p
   %a{:href => "http://www.lojban.org/"}> The Logical Language Group, which is the primary website hosted by this machine, does not endorse this site in any way.
   
  %p
   I have added an 
   %a{:href => "info"} information page
     
  %p
   Archives of mail sent to this site can be found at 
   %a{:href => "http://www.justfuckinggoogleit.com/mail/"} http://www.justfuckinggoogleit.com/mail/
   This is the easter egg.
   
  %p
   By the way, http://www.justfuckinggoogleit.com/search/foo bar will show this page and then redirect users to the Google page for searching on "foo bar", as will many other variants.
 
 
  %h2
   .counter
    Idiots Served: #{hit_counter}
 
 
  Search Google
  %center
   %form{:action => "http://www.google.com/custom", :method => "get", :target => "_top"}
    %table{:bgcolor => "#ffffff"}
     %tr
      %td{:align => "left", :height => "32", :nowrap => "nowrap", :valign => "top"}
       %a{:href => "http://www.google.com/"}
        %img{:align => "middle", :alt => "Google", :border => "0", :src => "http://www.google.com/logos/Logo_25wht.gif"}/
       %input{:maxlength => "255", :name => "q", :size => "31", :type => "text", :value => ""}/
       %input{:name => "sa", :type => "submit", :value => "Search"}/
       %input{:name => "client", :type => "hidden", :value => "pub-5834014132134539"}/
       %input{:name => "forid", :type => "hidden", :value => "1"}/
       %input{:name => "ie", :type => "hidden", :value => "UTF-8"}/
       %input{:name => "oe", :type => "hidden", :value => "UTF-8"}/
       %input{:name => "cof", :type => "hidden", :value => "GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1;"}/
       %input{:name => "hl", :type => "hidden", :value => "en"}/
  Search Google
